 .body{
    background-image: url("image/bg.png");

    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 40%);
 }
 .nav{
    display: flex;
    justify-content: space-between; 
     
    align-items: center;
    gap: 10;
    padding: 20px 0px 20px 0px;

 }
 .nav a{
    text-decoration: none;
 }
 
 .display-flex {
    display: flex;
} 
  .nav-item{
 
  list-style: none;
 
    margin-right: 30px;
font-size: x-large;
   
} 
.nav_link{
    justify-content: space-around;


} 
 
button{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    border: none;
  
}

 
 

.hero{
    
    
    display: flex;
    justify-content: space-around;
    margin-left: 141px;
    margin-top: 120px;
    margin-right: 140px;
}
.hero-paragraph{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 122px;
margin-bottom: 132px;
margin-left: ;
}
#span1{
 color: orange;
}
#span2{
    color: rgb(78, 78, 255);
}
.hero-paragraph h1{
    font-size: 40px;
}




#Standard{
     justify-content: center;
     align-items: center;
}



.hero2-title {
    display: flex;
    justify-content: center;
}
.hero2{
    display: flex;
    gap: 30px;
    margin-left: 200px;
    margin-right: 140px;
 
}
.hero2 div{
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    height: 476.78px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
        
}
.hero2 a{
    display: flex;
    justify-content: center;

    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}
.hero2 h1{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}
.hero2 p{
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 33px;

    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    text-align: center;
}
 




.arrow{
    margin-top: 80px;
   border-radius: 30px;  
   height: 30px;
    width: 50px;
    
     display: inline;
    text-align: center;
   margin-left: 250px;
   
}
    
.hero3-title{
    display: flex;
    justify-content: center;
   }


   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-image: url("image/bg.png");
}

.container {
    max-width: 1200px;
     margin: 0 auto;  
    padding: 20px;
     display: grid;
   grid-template-columns: repeat(2 1fr);  
   display: flex;
    gap: 20px;

}

.left-column, .right-column {
   
    border-radius: 10px;
    
    padding: 20px;

    width: 540.27px;
    height: 600px;
    
}

.left-column img, .right-column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;      
}

.date-pill {
    display: inline-block;
    background-color: #17a2b8;  
    color: white;
    padding: 5px 15px;  
    border-radius: 20px;  
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
    top: -30px;
}


.left-column h2 {
    font-size: 20px;
    margin-top: 60px;
}

.left-column p {
    font-size: 14px;
    color: #666;
    margin-top: 50px;
}

.right-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;

}

.left-column {

    border-radius: 10px;
    gap: 20px;
    overflow: hidden;
    padding: 10px;  
    padding: 10px;
    
    border: 1px solid #ddd;  
    border-radius: 10px;
    background-color: whitesmoke;
}

.right-column .card {
   
     border-radius: 10px;
    gap: 20px;
    overflow: hidden;
    padding: 10px;  
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;  
    border-radius: 10px;
    background-color: whitesmoke;

}

.right-column .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.right-column .card h3 {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}


#last-btn, #btn{
  
    text-align: center;  
    margin-bottom: 60px;
}



.foot-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
   
    justify-content:  space-around;
    gap: 100px;
    
}
.foot-container a{
    text-decoration: none;
    font-size: larger;
}

 footer{
    background-color: #00BFFF;  
    text-align: center;
}

 footer h1{
    color: #ffffff;  
    font-size: 24px;
    font-weight: 700;
}

 footer p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
}


footer nav {
    background-color: #00BFFF;  
    padding: 10px;
    margin-bottom: 20px;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
 
    
}
footer li{
    text-decoration: none;
    list-style: none;
   
  
}
footer nav a {
    color: #ffffff;  
    text-decoration: none;
   
}

.social-icons {
    text-align: right;
    font-size: x-large;
}

.social-icons a {
    display: inline-block;
    margin-left: 10px;
    font-size: x-large;
}

.social-icons img {
    width: 24px;
    height: 24px;
}




 
@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    .hero-paragraph {
        margin: 0;
        text-align: center;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    .hero2 {
        flex-direction: column;
        margin: 20px;
    }

    .hero2 div {
        width: 100%;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        gap: 20px;
    }

    .left-column,
    .right-column {
        width: 100%;
        height: 100%;
    }
    .left-column {
        grid-template-columns: 1fr;  
    }
    .foot-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer {
        text-align: center;
    }
}